#footer {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}

#title {
    vertical-align: middle;
    text-align: left;
}

#add_salting {
    vertical-align: middle !important;
    text-align: left;
    margin: 20px 0px 10px !important;
}

div {
    border: 0px solid blue;
}