{% extends "schedule/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Таблиця Засолу{% endblock meta_title %}

{% block title %}База Засолу{% endblock title %}

{% block add_btn %}
<div class="col-xs-4" id="add_salting">
	<!--  Add Student Button  -->
	<a class="btn btn-primary" href="{% url "salting_add" %}">Додати Засолку</a>
</div>
{% endblock add_btn %}

{% block content %}
<table class="table table-hover table-striped">
	{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
        <tr>
            <th>
			<a href="{% url "home" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif%}">
				№ партії
				{% if order_by == 'id' and reverse != '1' %}&uarr;
				{% elif order_by == 'id' and reverse == '1' %}&darr;
				{% endif %}
			</a>
			</th>
            <th>
			<a href="{% url "home" %}?order_by=date_salting{% if order_by == 'date_salting' and reverse != '1' %}&amp;reverse=1{% endif %}">
				Дата посолу
				{% if order_by == 'date_salting' and reverse != '1' %}&uarr;
				{% elif order_by == 'date_salting' and reverse == '1' %}&darr;
				{% endif %}
			</a>
			</th>
			<th>Ємність №(бочка, ...)</th>
            <th>Риба</th>
            <th>
			<a href="{% url "home" %}{% if order_by == '' %}?order_by=date_removing&amp;reverse=1
			{% else %}?order_by=date_removing{% if order_by == 'date_removing' and reverse != '1' %}&amp;reverse=1{% endif %}
			{% endif %}">
				Дата виємки
				{% if order_by == '' and reverse != '1' %}&uarr;
				{% elif order_by == 'date_removing' and reverse != '1' %}&uarr;
				{% elif order_by == 'date_removing' and reverse == '1' %}&darr;
				{% endif %}
			</a>
			</th>
			<th>Потрібний час для засолу(днів)</th>
			<th>Кількість риби</th>
			<th>Статус Засолки</th>
            <th>Дії</th>
        </tr>
    </thead>
	{% endwith %}
    <tbody>
	{% for salting in allSalt %}
        <tr>
            <td>{{ salting.id }}</td>
            <td>{{ salting.date_salting }}</td>
			<td>{{ salting.tank_salting }}</td>
            <td>{{ salting.name_fish }}</td>
            <td>{{ salting.date_removing }}</td>
			<td>{{ salting.required_salting }}</td>
			<td>{{ salting.weight }}</td>
			<td>{% if salting.status %}Засолка триває{% else %}Засолка витягнута{% endif %}</td>
            <td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle"
							type="button" data-toggle="dropdown">Дія
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url "salting_edit" salting.id %}">
							Оновити</a>
						</li>
					</ul>
				</div>
			</td>
        </tr>
	{% endfor %}
    </tbody>
</table>


{% endblock content %}

{% block nav %}
{% if allSalt.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
	<ul class="pagination">
		<li>
			<a href="{% url "home" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
		</li>
		{% for p in allSalt.paginator.page_range %}
		<li {% if allSalt.number == p %}class="active"{% endif %}>
			<a href="{% url "home" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
		</li>
		{% endfor %}

		<li>
			<a href="{% url "home" %}?page={{ allSalt.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a>
		</li>
	</ul>
</nav>
{% endwith %}
{% endif %}
{% endblock nav %}